<div class="empanadas">
    <section class="empTradicionales">
        <h2>Empanadas Tradicionales</h2>
        <% if (loading) { %>
            <%- include('./loader.ejs') %>
        <% } else { %>
            <p class="precio">$<%= empanadasData.precioTradicionales[0]?.precio %></p>
            <ul class="lisEmp">
                <% empanadasData.tradicionales.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        <% } %>
    </section><br>

    <section class="empCanastitas">
        <h2>Empanadas Abiertas tipo canastitas</h2>
        <% if (loading) { %>
            <%- include('./loader.ejs') %>
        <% } else { %>
            <p class="precio">$<%= empanadasData.precioCanastitas[0]?.precio %></p>
            <ul class="lisEmp">
                <% empanadasData.canastitas.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        <% } %>
    </section><br>

    <section class="empPremium">
        <h2>Empanadas Premium</h2>
        <% if (loading) { %>
            <%- include('./loader.ejs') %>
        <% } else { %>
            <p class="precio">$<%= empanadasData.precioPremium[0]?.precio %></p>
            <ul class="lisEmp">
                <% empanadasData.premium.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        <% } %>
    </section><br>
</div>