<% if (loading) { %>
    <!-- loader -->
    <div id="pizzaLoader" class="box">
        <div class="pizza-slice slice-1">
            <div class="border">
                <div class="crust"></div>
                <div class="cheese">
                  <div class="peperoni p-1"></div>
                  <div class="peperoni p-2"></div>
                  <div class="peperoni p-3"></div>
                  <div class="olive o-1"></div>
                  <div class="olive o-3"></div>
                  <div class="olive o-4"></div>
                  <div class="olive o-6"></div>
                  <div class="olive o-7"></div>
                </div>
              </div>
            </div>
            <div class="pizza-slice slice-2">
              <div class="border">
                <div class="crust"></div>
                <div class="cheese">
                  <div class="peperoni p-1"></div>
                  <div class="peperoni p-2"></div>
                  <div class="peperoni p-3"></div>
                  <div class="olive o-1"></div>
                  <div class="olive o-2"></div>
                  <div class="olive o-3"></div>
                  <div class="olive o-6"></div>
                  <div class="olive o-7"></div>
                </div>
              </div>
            </div>
            <div class="pizza-slice slice-3">
              <div class="border">
                <div class="crust"></div>
                <div class="cheese">
                  <div class="peperoni p-1"></div>
                  <div class="peperoni p-2"></div>
                  <div class="peperoni p-3"></div>
                  <div class="olive o-3"></div>
                  <div class="olive o-4"></div>
                  <div class="olive o-5"></div>
                  <div class="olive o-6"></div>
                </div>
              </div>
            </div>
            <div class="pizza-slice slice-4">
              <div class="border">
                <div class="crust"></div>
                <div class="cheese">
                  <div class="peperoni p-1"></div>
                  <div class="peperoni p-2"></div>
                  <div class="peperoni p-3"></div>
                  <div class="olive o-1"></div>
                  <div class="olive o-2"></div>
                  <div class="olive o-3"></div>
                  <div class="olive o-4"></div>
                </div>
            </div>
        </div>
            <div class="pizza-slice slice-5">
              <div class="border">
                <div class="crust"></div>
                <div class="cheese">
                  <div class="peperoni p-1"></div>
                  <div class="peperoni p-2"></div>
                  <div class="peperoni p-3"></div>
                  <div class="olive o-1"></div>
                  <div class="olive o-2"></div>
                  <div class="olive o-6"></div>
                  <div class="olive o-7"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader -->
<% } else { %>
    <div class="empanadas">
        <section class="empTradicionales">
            <h2>Empanadas tradicionales</h2>
            <h2 class="precio">$<%= precioTradicionales[0]?.precio %></h2>
            <ul class="lisEmp">
                <% tradicionales.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        </section><br>

        <section class="empCanastitas">
            <h2>Empanadas abiertas tipo canastitas</h2>
            <h2 class="precio">$<%= precioCanastitas[0]?.precio %></h2>
            <ul class="lisEmp">
                <% canastitas.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        </section><br>

        <section class="empPremium">
            <h2>Empanadas premium</h2>
            <h2 class="precio">$<%= precioPremium[0]?.precio %></h2>
            <ul class="lisEmp">
                <% premium.forEach(empanada => { %>
                    <li><%= empanada.sabor %></li>
                <% }) %>
            </ul>
        </section><br>
    </div>
<% } %>