<div class="pizzas">
  <section class="pizzasEternas">
    <h2>Pizzas Eternas</h2>
    <% if (loading) { %>
      <%- include('../partials/loader.ejs') %>
    <% } else { %>
      <div class="pizzaTamañoPrecio">
          <h3>Tamaños y precios</h3>
          <% pizzasData.precioEternas.forEach(precio => { %>
            <h4><%= precio.TamañoPizza.tamaño %></h4>
            <p class="precio">$<%= precio.precio %></p>
          <% }) %>
      </div>
      <ul>
        <% pizzasData.eternas.forEach(pizza => { %>
          <li><%= pizza.sabor %></li>
        <% }) %>
      </ul>
    <% } %>
  </section><br>

  <section class="pizzasClasicas">
    <h2>Pizzas Clásicas</h2>
    <% if (loading) { %>
      <%- include('../partials/loader.ejs') %>
    <% } else { %>
      <div class="pizzaTamañoPrecio">
        <h3>Tamaños y precios</h3>
        <% pizzasData.precioClasicas.forEach(precio => { %>
          <h4><%= precio.TamañoPizza.tamaño %></h4>
          <p class="precio">$<%= precio.precio %></p>
        <% }) %>
      </div>
      <ul>
          <% pizzasData.clasicas.forEach(pizza => { %>
            <li><%= pizza.sabor %></li>
          <% }) %>
      </ul>
    <% } %>
  </section><br>

  <section class="pizzasTradicionales">
      <h2>Pizzas Tradicionales</h2>
      <% if (loading) { %>
        <%- include('../partials/loader.ejs') %>
      <% } else { %>
        <div class="pizzaTamañoPrecio">
          <h3>Tamaños y precios</h3>
          <% pizzasData.precioTradicionales.forEach(precio => { %>
            <h4><%= precio.TamañoPizza.tamaño %></h4>
            <p class="precio">$<%= precio.precio %></p>
          <% }) %>
        </div>
        <ul>
            <% pizzasData.tradicionales.forEach(pizza => { %>
              <li><%= pizza.sabor %></li>
            <% }) %>
        </ul>
      <% } %>
  </section><br>

  <section class="pizzasEspeciales">
      <h2>Pizzas Especiales</h2>
      <% if (loading) { %>
        <%- include('../partials/loader.ejs') %>
      <% } else { %>
        <div class="pizzaTamañoPrecio">
          <h3>Tamaños y precios</h3>
          <% pizzasData.precioEspeciales.forEach(precio => { %>
            <h4><%= precio.TamañoPizza.tamaño %></h4>
            <p class="precio">$<%= precio.precio %></p>
          <% }) %>
        </div>
        <ul>
            <% pizzasData.especiales.forEach(pizza => { %>
              <li><%= pizza.sabor %></li>
            <% }) %>
        </ul>
      <% } %>
  </section><br>
</div>