<div class="selecEmpanadaCategoria">
    <h3><%= tituloCategoria %></h3>
    <% empanadas.forEach(empanada => { %>
        <div class="empanadaItem">
            <input type="checkbox" class="empanadaCheckbox" data-sabor="<%= empanada.sabor %>" name="empanada_<%= empanada.sabor %>">            
            <p class="sabor"><%= empanada.sabor %></p>
            <p class="precio" data-sabor="<%= empanada.sabor %>">$<%= precios[0]?.precio %></p>
            <input type="hidden" name="precioEmpanada_<%= empanada.sabor %>" value="<%= precios[0]?.precio %>">
            <div class="empanadaSelector">
                <button type="button" class="decrease" data-sabor="<%= empanada.sabor %>">-</button>
                <input type="number" class="quantity" name="cantidad_<%= empanada.sabor %>" value="0" min="0">
                <button type="button" class="increase" data-sabor="<%= empanada.sabor %>">+</button>
            </div>
        </div>
    <% }) %>
</div>