<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>
    
    <main>
        <section class="confirmPedido">
            <h2>Pedido confirmado</h2>

            <!-- Mostrar datos del cliente -->
            <h3>Datos del cliente</h3>
            <p>Nombre: <%= name %></p>
            <p>Teléfono: <%= phone %></p>
            <p>Dirección: <%= street %> <%= altura %>
                <% if (!piso) { %>
                    Piso: -
                <% } else { %>
                    Piso: <%= piso %>
                <% } %>
                <% if (!dpto) { %>
                    Dpto: -
                <% } else { %>
                    Dpto: <%= dpto %>
                <% } %>
            </p>
            <% if (!message) { %>
                <p>Mensaje adicional: -</p>
            <% } else { %>
                <p>Mensaje adicional: <%= message %></p>
            <% } %>

            <!-- Mostrar los productos seleccionados -->
            <h3>Productos seleccionados</h3>
            <% if (cantidadEmpanadas.length > 0) { %>
                <h4>Empanadas seleccionadas</h4>
                <ul>
                    <% cantidadEmpanadas.forEach(empanada => { %>
                        <li>Sabor: <%= empanada.sabor %>, Cantidad: <%= empanada.cantidad %></li>
                    <% }) %>
                </ul>
            <% } %>

            <% if (cantidadPizzas.length > 0) { %>
                <h4>Pizzas seleccionadas</h4>
                <ul>
                    <% cantidadPizzas.forEach(pizza => { %>
                        <li>Sabor: <%= pizza.sabor %>, Cantidad: <%= pizza.cantidad %></li>
                    <% }) %>
                </ul>
            <% } %>

            <form action="/limpiarSessions" method="GET">
                <button class="button">Volver al inicio</button>
            </form>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>