<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <section class="resumenPedido">
            <h2>Resumen del pedido</h2>

            <ul>
                <% productosSeleccionados.forEach(producto => { %>
                    <li>Sabor: <%= producto.sabor %>, Cantidad: <%= producto.cantidad %>, Precio: $<%= producto.precio %></li>
                <% }) %>
            </ul>

            <h3>Total del pedido: $<%= totalSeleccionado %></h3>

            <div class="buttonContinuar">
                <form action="/formDatos" method="GET">
                    <button class="button" type="submit">Continuar</button>
                </form>
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>