<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <form action="" class="pedido">
            <section class="selecEmpanadas">
                <div class="titleForm">
                    <h2>Empanadas</h2>
                    <i class="fas fa-arrow-circle-right toggle-menu" data-menu="empanadas"></i>
                </div>

                <div class="menu empanadas-menu">
                    <div class="selecEmpanadaCategoria">
                        <h3>Tradicionales</h3>
                        <% empanadasData.tradicionales.forEach(empanada => { %>
                            <div class="empanadaItem">
                                <li><%= empanada.sabor %></li>
                                <div class="empanadaSelector">
                                    <button type="button" class="decrease" data-sabor="<%= empanada.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= empanada.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= empanada.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="selecEmpanadaCategoria">
                        <h3>Canastitas</h3>
                        <% empanadasData.canastitas.forEach(empanada => { %>
                            <div class="empanadaItem">
                                <li><%= empanada.sabor %></li>
                                <div class="empanadaSelector">
                                    <button type="button" class="decrease" data-sabor="<%= empanada.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= empanada.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= empanada.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="selecEmpanadaCategoria">
                        <h3>Premium</h3>
                        <% empanadasData.premium.forEach(empanada => { %>
                            <div class="empanadaItem">
                                <li><%= empanada.sabor %></li>
                                <div class="empanadaSelector">
                                    <button type="button" class="decrease" data-sabor="<%= empanada.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= empanada.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= empanada.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="selecPizzas">
                <div class="titleForm">
                    <h2>Pizzas</h2>
                    <i class="fas fa-arrow-circle-right toggle-menu" data-menu="pizzas"></i>
                </div>

                <div class="menu pizzas-menu">
                    <div class="selecPizzaCategoria">
                        <h3>Eternas</h3>
                        <% pizzasData.eternas.forEach(pizza => { %>
                            <div class="pizzaItem">
                                <li><%= pizza.sabor %></li>
                                <div class="pizzasSelector">
                                    <button type="button" class="decrease" data-sabor="<%= pizza.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= pizza.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= pizza.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="selecPizzaCategoria">
                        <h3>Clásicas</h3>
                        <% pizzasData.clasicas.forEach(pizza => { %>
                            <div class="pizzaItem">
                                <li><%= pizza.sabor %></li>
                                <div class="pizzasSelector">
                                    <button type="button" class="decrease" data-sabor="<%= pizza.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= pizza.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= pizza.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="selecPizzaCategoria">
                        <h3>Tradicionales</h3>
                        <% pizzasData.tradicionales.forEach(pizza => { %>
                            <div class="pizzaItem">
                                <li><%= pizza.sabor %></li>
                                <div class="pizzasSelector">
                                    <button type="button" class="decrease" data-sabor="<%= pizza.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= pizza.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= pizza.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="selecPizzaCategoria">
                        <h3>Especiales</h3>
                        <% pizzasData.especiales.forEach(pizza => { %>
                            <div class="pizzaItem">
                                <li><%= pizza.sabor %></li>
                                <div class="pizzasSelector">
                                    <button type="button" class="decrease" data-sabor="<%= pizza.sabor %>">-</button>
                                    <input type="number" class="quantity" name="cantidad_<%= pizza.sabor %>" value="0" min="0">
                                    <button type="button" class="increase" data-sabor="<%= pizza.sabor %>">+</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </section>
        </form>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
    <script src="/js/seleccionProductos.js"></script>
</html>